[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = req_distinguished_name
req_extensions     = req_ext

[ req_distinguished_name ]
CN = tunnel-server

[ req_ext ]
basicConstraints = critical,CA:false
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = tunnel-server